/private.auto.tf
/authorized_key.json
/.terraform
/modules/.terraform
/terraform.tfstate
/.terraform.lock.hcl
/terraform.tfstate
/terraform.tfstate.backup
/key
/private.variables.tf
/modules/instance/private.variables.tf